In [1]:
import pandas as pd

In [4]:
# Read in the CSV file
#file = "cardio_training_clean.csv"
file = "cardio_training.csv"
#df = pd.read_csv(file, skiprows=[0])
df_1 = pd.read_csv(file)
#df_1 = df_1.set_index('id')
#(bins =12, alpha=0.5
df_1

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [27]:
# libraries & dataset
import seaborn as sns
import matplotlib.pyplot as plt
# set a grey background (use sns.set_theme() if seaborn version 0.11.0 or above) 
sns.set(style="darkgrid")
#df = sns.load_dataset("iris")

fig, axs = plt.subplots(2, 2, figsize=(7, 7))

sns.histplot(data=df_1, x="sepal_length", kde=True, color="skyblue", ax=axs[0, 0])
sns.histplot(data=df_1, x="sepal_width", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=df, x="petal_length", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=df, x="petal_width", kde=True, color="teal", ax=axs[1, 1])

plt.show()

KeyError: 'target'

In [6]:
# Read in the CSV file
file = "cardio_training_clean.csv"
#file = "cardio_training.csv"
df_2 = pd.read_csv(file, skiprows=[0])
#df = pd.read_csv(file)
#pd.df_2.drop([]
df_2

C:\Users\borglz1\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,0,50,2,168,136.7,110,80,1,1,0,0,1,0,40.9
1,1,55,1,156,187.4,140,90,3,1,0,0,1,1,65
2,2,52,1,165,141.1,130,70,3,1,0,0,0,1,43.7
3,3,48,2,169,180.8,150,100,1,1,0,0,1,1,53.4
4,4,48,1,156,123.5,100,60,1,1,0,0,0,0,42.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134962,99995,62,1,5.18,277.8,140,90,2,2,0,0,1,1,7278.3
134963,99996,52,2,6,231.5,180,90,3,1,0,1,0,1,4520.7
134964,99998,61,1,5.35,158.7,135,80,1,2,0,0,0,1,3897.8
134965,99999,56,1,5.58,158.7,120,80,2,1,0,0,1,0,3583.1
134966,>>>>>>> 366a4788a46d770174817f7866cfe2400d679a8c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN