In [2]:
import pandas as pd

In [11]:
# Read in the CSV file
file = "cardio_training_clean.csv"
df = pd.read_csv(file, skiprows=[0])
#df = pd.read_csv(file)
df

C:\Users\borglz1\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,0,50,2,168,136.7,110,80,1,1,0,0,1,0,40.9
1,1,55,1,156,187.4,140,90,3,1,0,0,1,1,65
2,2,52,1,165,141.1,130,70,3,1,0,0,0,1,43.7
3,3,48,2,169,180.8,150,100,1,1,0,0,1,1,53.4
4,4,48,1,156,123.5,100,60,1,1,0,0,0,0,42.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134962,99995,62,1,5.18,277.8,140,90,2,2,0,0,1,1,7278.3
134963,99996,52,2,6,231.5,180,90,3,1,0,1,0,1,4520.7
134964,99998,61,1,5.35,158.7,135,80,1,2,0,0,0,1,3897.8
134965,99999,56,1,5.58,158.7,120,80,2,1,0,0,1,0,3583.1
134966,>>>>>>> 366a4788a46d770174817f7866cfe2400d679a8c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ax = df.hist(bins =12, alpha=0.5)

ValueError: hist method requires numerical columns, nothing to plot.