In [1]:
# Add the Pandas dependency
import pandas as pd

In [2]:
# Files to load
cardio_data_to_load = "cardio_training.csv"

In [3]:
# Read the cardio data file and store it in a Pandas DataFrame.
cardio_data_df = pd.read_csv(cardio_data_to_load)
cardio_data_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
# Create new column with coverted 'age'.
cardio_data_df['cardio_age'] = cardio_data_df['age'] / 365

# Format the data (round age down so that year is a whole number)
cardio_data_df['cardio_age'] = cardio_data_df['cardio_age'].map("{:.0f}".format)

# Drop the original 'age' column.
cardio_data_df.drop('age', axis=1, inplace=True)

# Rearrange the columns
cardio_data_df = cardio_data_df[['id', 'cardio_age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 
                                    'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']] 

# Rename the new 'age' column 
cardio_data_df = cardio_data_df.rename(columns = {"cardio_age":"age"}) 
cardio_data_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,2,52,1,165,64.0,130,70,3,1,0,0,0,1
3,3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,4,48,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
cardio_data_df.dtypes

id               int64
age             object
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [6]:
# Remove outliers in the 'ap_lo' coulmn that are below 60
cardio_data_df.drop(cardio_data_df[cardio_data_df['ap_lo'] < 60].index, inplace = True)

# Remove outliers in the 'ap_lo' coulmn that are above 140
cardio_data_df.drop(cardio_data_df[cardio_data_df['ap_lo'] > 140].index, inplace = True)

In [7]:
# Remove outliers in the 'ap_hi' coulmn that are above 200
cardio_data_df.drop(cardio_data_df[cardio_data_df['ap_hi'] > 200].index, inplace = True)

# Remove outliers in the 'ap_hi' coulmn that are below 100
cardio_data_df.drop(cardio_data_df[cardio_data_df['ap_hi'] < 100].index, inplace = True)

In [8]:
# Convert 'height' column from cm to feet
cardio_data_df['height'] = round(cardio_data_df['height'] * 0.393701, 2)

In [9]:
# Convert 'weight' column from kg to lb
cardio_data_df['weight'] = round(cardio_data_df['weight'] * 2.20462, 1)

# Drop the original 'weight' column
#cardio_data_df.drop('weight', axis=1, inplace=True)

# Rearrange the columns
cardio_data_df = cardio_data_df[['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 
                                    'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']]

# Rename the new 'weight' column
#cardio_data_df = cardio_data_df.rename(columns = {"cardio_weight":"weight"}) 
cardio_data_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,66.14,136.7,110,80,1,1,0,0,1,0
1,1,55,1,61.42,187.4,140,90,3,1,0,0,1,1
2,2,52,1,64.96,141.1,130,70,3,1,0,0,0,1
3,3,48,2,66.54,180.8,150,100,1,1,0,0,1,1
4,4,48,1,61.42,123.5,100,60,1,1,0,0,0,0

In [10]:
# Add a BMI (body mass index) column
# Forumla for BMI = (weight (lbs) / (height (in) * height (in))) * 703
cardio_data_df['BMI'] = round(cardio_data_df['weight'] / (cardio_data_df['height'] ** 2) * 703, 1)
cardio_data_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,0,50,2,66.14,136.7,110,80,1,1,0,0,1,0,22.0
1,1,55,1,61.42,187.4,140,90,3,1,0,0,1,1,34.9
2,2,52,1,64.96,141.1,130,70,3,1,0,0,0,1,23.5
3,3,48,2,66.54,180.8,150,100,1,1,0,0,1,1,28.7
4,4,48,1,61.42,123.5,100,60,1,1,0,0,0,0,23.0

In [11]:
cardio_data_df.shape

(67482, 14)

In [12]:
cardio_data_df.to_csv(r'cardio_training_clean.csv', index = False)